@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typefaces */
@font-face {
  font-family: 'Funkhouse';
  src: local("Funkhouse"),
  url("../public/assets/fonts/Funkhouse.ttf") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F6E8FF;
    

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-primary{
  color: #CE6397 !important;
}

.text-secondary{
  color: #B63D0E !important;
}

.text-dark{
  color: #2D2D2B !important;
}

.bg-main{
  background-color: #F6E8FF !important;
}